<h3>Gestión de Expositores</h3>

<!-- 🔍 Buscador -->
<input type="text" id="buscador-ponente" placeholder="Buscar expositor..." style="margin-bottom: 10px; padding: 5px; width: 250px;">

<!-- Funcionalidades -->
<button onclick="" class="menu-btn-h create-btn">Agregar Expositor</button>
<!-- <button onclick="window.location.href='{{ url_for('rxls.index', tipo='ponentes') }}'" class="menu-btn-h rxls-btn"> Agregar Ponentes Excel </button> -->
<button onclick="window.location.href='{{ url_for('certificate.generar_certificados', rol_boton=2) }}'" class="menu-btn-h">Descargar Certificados</button>
<button onclick="window.location.href='{{ url_for('certificate.enviar_certificados_todos', rol_boton=2) }}'" class="menu-btn-h">Enviar Certificados</button>
<table border="1" cellpadding="10" cellspacing="0" id="tabla-ponente">
    <thead>
        <tr>
            <th>N°</th>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>Email</th>
            <th>Documento</th>
            <th>País Origen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for expositor in expositores %}
        <tr>
            <!-- <td>{{ expositor.id_usuario }}</td> -->
            <td data-label="N °">{{ loop.index }}</td>
            <td data-label="Apellidos">{{ expositor.apellido }}</td>
            <td data-label="Nombres">{{ expositor.nombre }}</td>
            <td data-label="Email">{{ expositor.email }}</td>
            <td data-label="Documento">{{ expositor.documento }}</td>
            <td data-label="País Origen">{{ expositor.pais_origen }}</td>
            <!--
           <td data-label="Fecha de Nacimiento">{{ expositor.fecha_nac }}</td>
      <td data-label="Género">{{ expositor.genero }}</td>
      <td data-label="Pais en el que reside actualmente">{{ expositor.pais_residencia }}</td>
      <td data-label="Afiliacion con una Universidad">{{ expositor.afiliacion_u }}</td>
      <td data-label="Tipo_de_Afiliacion">{{ expositor.tipo_afiliacion }}</td>
      <td data-label="Área tematica">{{ expositor.area_tematica }}</td>
      <td data-label="Disciplina cientifica">{{ expositor.disciplina_cientifica }}</td>
            -->
            <!-- <td>{{ expositor.cotrasena }}</td> -->
            <!-- <td>{{ expositor.certificado }}</td> -->
            <!-- <td>{{ expositor.curso }}</td> -->
            <td data-label="Acciones">
                <button class="btn btn-primary edit-btn" data-id="{{ expositor.id_usuario }}" title="Editar">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg>
                </button>
                <button class="btn btn-info btn-sm more-exp-btn"
                        data-id="{{ expositor.id_usuario }}"
                        data-nombre="{{ expositor.apellido }} {{ expositor.nombre }}" title="Información">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
              </svg>
                </button>
                <button class="btn btn-danger del-btn" data-id="{{ expositor.id_usuario }}" title="Eliminar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
                </button>
                <button onclick="window.location.href='{{ url_for('certificate.descargar_certificado', user_id=expositor.id_usuario) }}'" class="btn btn-success" title="Descargar Certificados">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                </svg>
                </button>
                <button onclick="window.location.href='{{ url_for('certificate.enviar_certificado', user_id=expositor.id_usuario) }}'" class="btn btn-success cert-btn" title="Enviar Certificados">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                  <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                </svg>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>



<!--  Modal / Tabla Emergente Actualizar Ponentes -->
<div id="modal-editar" class="modal">
  <div class="modal-content">
    <span class="close" onclick="cerrarModalEdit()">&times;</span>
    <h3>Editar Expositor</h3>
    <form id="form-editar">
      <input type="hidden" id="id_usuario" name="id_usuario">
      <label>Nombre:</label>
      <input type="text" id="nombre" name="nombre"><br>
      <label>Apellido:</label>
      <input type="text" id="apellido" name="apellido"><br>
      <label>Email:</label>
      <input type="email" id="email" name="email"><br>
      <label>Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" placeholder="Nueva contraseña (opcional)"><br>
      <label>Documento:</label>
      <input type="text" id="documento" name="documento"><br>
      <label>País de Origen:</label>
      <input type="text" id="pais_origen" name="pais_origen"><br>
      <input type="hidden" id="id_rol" name="id_rol" value="3">
      <label>Fecha de nacimiento:</label>
      <input type="date" id="fecha_nac" name="fecha_nac"><br>
      <label for="genero">Género:</label>
      <select id="genero" name="genero" required>
        <option value="" disabled selected>Seleccione género</option>
        <option value="male">Masculino</option>
        <option value="female">Femenino</option>
        <option value="other">Otro</option>
      </select><br>
      
      <label>País de residencia:</label>
      <input type="text" id="pais_residencia" name="pais_residencia"><br>
      <label>Afiliacion con una universidad:</label>
      <input type="text" id="afiliacion_u" name="afiliacion_u"><br>
      <label>Tipo de afiliacion:</label>
      <select id="tipo_afiliacion" name="tipo_afiliacion">
        <option value="" disabled selected>Seleccione tipo</option>
        <option value="public">Pública</option>
        <option value="private">Privada</option>
      </select><br>
      <label>Área tematica:</label>
      <input type="text" id="area_tematica" name="area_tematica"><br>
      <label>Disciplina cientifica:</label>
      <input type="text" id="disciplina_cientifica" name="disciplina_cientifica"><br>

      <button type="submit">Guardar</button>
    </form>
  </div>
</div>

<!--  Modal / Tabla Emergente Crear Ponentes -->
<div id="modal-crear" class="modal">
  <div class="modal-content">
    <span class="close" onclick="cerrarModalCrear()">&times;</span>
    <h3>Nuevo Expositor</h3>
    <form id="form-crear">
      <label for="nombre_crear">Nombre:</label>
      <input type="text" id="nombre_crear" name="nombre" required><br>
      <label for="apellido_crear">Apellido:</label>
      <input type="text" id="apellido_crear" name="apellido" required><br>
      <label for="email_crear">Email:</label>
      <input type="email" id="email_crear" name="email" required><br>
      <label for="contrasena_crear">Contraseña:</label>
      <input type="password" id="contrasena_crear" name="contrasena" required><br>
      <label for="documento_crear">Documento:</label>
      <input type="text" id="documento_crear" name="documento" required><br>
      <label for="pais_origen_crear">País de Origen:</label>
      <input type="text" id="pais_origen_crear" name="pais_origen" required><br>
      <input type="hidden" name="id_rol" value="3">
      <label>Fecha de nacimiento:</label>
      <input type="date" id="fecha_nac_crear" name="fecha_nac" required><br>
      <label for="genero_crear">Género:</label>
      <select id="genero_crear" name="genero" required>
        <option value="" disabled selected>Seleccione género</option>
        <option value="male">Masculino</option>
        <option value="female">Femenino</option>
        <option value="other">Otro</option>
      </select><br>
      <label>País de residencia:</label>
      <input type="text" id="pais_residencia_crear" name="pais_residencia" required><br>
      <label>Afiliacion con una universidad:</label>
      <input type="text" id="afiliacion_u_crear" name="afiliacion_u" required><br>
      <label for="tipo_afiliacion_crear">Tipo de afiliacion:</label>
      <select id="tipo_afiliacion_crear" name="tipo_afiliacion" required>
        <option value="" disabled selected>Seleccione tipo</option>
        <option value="public">Pública</option>
        <option value="private">Privada</option>
      </select><br>
      <label>Área tematica:</label>
      <input type="text" id="area_tematica_crear" name="area_tematica" required><br>
      <label>Disciplina cientifica:</label>
      <input type="text" id="disciplina_cientifica_crear" name="disciplina_cientifica" required><br>
      <button type="submit">Crear</button>
    </form>
  </div>
</div>


<!-- Modal: Cursos dictados por un Ponente -->
<div id="modal-info-curso" class="modal">
  <div class="modal-content">
    <span class="close" onclick="cerrarModalCursos()">&times;</span>
    <h3>Cursos dictados por <span id="nombre"></span></h3>

    <h6>Cursos asignados:</h6>
    <table id="tabla-cursos-exp" class="table">
      <thead>
        <tr>
          <th>Cursos</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <h6>Asignar nuevo curso:</h6>
    <!-- Form para añadir materia -->
    <form id="form-agregar-materia-exp">
      <label for="select-curso-exp">Agregar curso:</label>
      <select id="select-curso-exp">
          <option value="">Selecciona un curso...</option>
      </select>
      <button type="submit">Agregar</button>
    </form>

  </div>
</div>

<br>




